.Sample-preview{
    height: 30vh;
    border-radius: 5%;
}

.Sample-container{
    background-image: linear-gradient(to top, darkblue, white);
    height: fit-content;
}

.Sample-title{
    text-align: center;
}

.Sample-subtitle{
    color: black;
    text-decoration: none;
}