.margin-zero{
    margin: 0% !important;
}

.padding-zero{
    padding: 0% !important;
}


.Navbar-container{
    opacity: 100%;
}

.Navbar-title{
    margin-left: 3vw;
    margin-right: 3vw !important;
}


.Navbar-element{
    margin-left: 1vw;
    margin-right: 1vw;
}