.About-container{
    background-image: linear-gradient(to top, darkblue, white);
    height: fit-content;
}

.About-title{
    color: black;
    text-align: center;
}

.About-item{
    margin-top: 1.9vh !important;
}